<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, 'דוא״ל' %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :name, 'שם פרטי בעברית' %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :password, 'סיסמה' %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation, 'אישור סיסמה' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :phone, 'טלפון (אופציונלי)' %><br />
    <%= f.phone_field :phone %></div>

  <div><%= f.submit "הרשם" %></div>
<% end %>

<%= render "devise/shared/links" %>
