- prefix = "spouse_" if spouse

.field
  %label{ for: "#{ prefix }birth_date" } תאריך לידה
  .date-field
    %input.request-data{ id: "#{ prefix }birth_date", type: "date" }  

%br

.field
  %label{ for: "#{ prefix }gender" } מין
  %select.request-data{ id: "#{ prefix }gender" } 
    %option{ value: 1 } זכר
    %option{ value: 2 } נקבה

%br

.field
  %label{ for: "#{ prefix }occupation" } עיסוק
  %input.request-data{ id: "#{ prefix }occupation" }

%br