- prefix = "spouse_" if spouse

%ul#pts-main-list
  %li
    %input.request-data{ id: "#{ prefix }retired", type: "checkbox", value: "1" }
    %label{ for: "#{ prefix }retired" } פנסיונר

  %li
    %input.request-data{ id: "#{ prefix }immigrant", type: "checkbox", value: "1" }
    %label{ for: "#{ prefix }immigrant" } עולה חדש
    %ul.dependant-fields
      %li
        %label.inner-label{ id: "#{ prefix }immigration_date" } תאריך עליה
        .date-field
          %input.request-data{ id: "#{ prefix }immigration_date", type: "date" }

  %li
    %input.request-data{ id: "#{ prefix }idf_service", type: "checkbox", value: "1" }
    %label{ for: "#{ prefix }idf_service" } שחרור משירות חובה
    %ul.dependant-fields
      %li
        %label.inner-label{ id: "#{ prefix }idf_discharge_date" } תאריך שחרור
        .date-field
          %input.request-data{ id: "#{ prefix }idf_discharge_date", type: "date" }
    
      %li
        %label.inner-label{ id: "#{ prefix }idf_service_duration" } מספר חודשי שירות
        %input.request-data{ id: "#{ prefix }idf_service_duration", type: "number" }

  %li
    %input.request-data{ id: "#{ prefix }academic", type: "checkbox", value: "1" }
    %label{ for: "#{ prefix }academic" } בעל תואר אקדמי או לימודי תעודה

  %li
    %input.request-data{ id: "#{ prefix }special_area_resident", type: "checkbox", value: "1" }
    %label{ for: "#{ prefix }special_area_resident" } תושב אזור מיוחד (לרבות אילת)
