<!DOCTYPE html>
<html>
<head>
  <title>Taxpass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", "data-turbolinks-track" => true %>

  <%= include_gon %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
  <div id="header-wrap">
    <span id="header-logo">TaxPass</span>

    <div id="header-links">
      
      <a id="about" href="#">אודות</a> |
      <a id="help" href="#">עזרה</a> |
      <a id="instructions" href="#">איך זה עובד?</a>

      <% if user_signed_in? %>
        | <span id="connected-as">מחובר כ<strong><%= current_user.name %></strong>.</span>
        <%= link_to 'התנתק', destroy_user_session_path, method: :delete, id: 'sign-out' %>
      <% end %>

    </div>
  </div>

</header>

<div id="content">
  <%= yield %>
</div>

<div id="dialog-dim">
  <div id="dialog">
    <h3 id="dialog-head"></h3>
    <p id="dialog-body">
       חברת כרטיסי האשראי כאל תמכור עד 5 ביולי כרטיס קולנוע ב-9 שקלים, בהגבלה ל-4 כרטיסים ובלי לשלם עמלת אינטרנט. "זו בקשה של הלקוחות שלנו וברור למה - בילוי בקולנוע כולל פופקורן עולה היום 100 שקל לאדם". בגלל יוקר הבילוי, תמיד עדיף שלא לשלם מחיר מלא: אפשר לקנות כרטיסים ב-1+1 במבצעים קבועים של המתחרות, או להביא פופקורן מהבית
    </p>
    <button id="dialog-ok-button" class="button button-blue">סבבה</button>
  </div>
</div>

<footer id="footer">
  <div id="footer-wrap">
    &copy
    כל הזכויות שמורות ל-TaxPass בע״מ
  </div>
</body>
</html>
